#Virtual environment
venv/
env/
.env/
.venv

#python
__pycache__/
*.py[cod]
*.class
*.so
.python

#Jupyter
.ipynb_checkpoints/
*.ipynb

#Model files
models/
*.bin
*.pt
*.pth

#Data (Jika besar, gunakan Git LFS atau simpan di cloud)
data/
*.csv
*.json

#outputs
outputs/
logs/
*.log

#IDE
.vscode/
.idea/
*.swp
.DS_Store
**/.DS_Store
Script/models/*

Script/models/README.md
